<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <label for="price">Current Stock Price</label> <input type="text" id="price" name="price">
    <button type="submit" onclick="myfunction();">Submit</button>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
<script type="text/javascript">
    function myfunction() {
        const price = document.getElementById("price").value;
        const s = JSON.stringify(price);
        console.log(s)
        window.alert(s)
        $.ajax({
            url:"/test",
            type:"POST",
            contentType: "application/json",
            data: JSON.stringify(s)
        });        
    }
</script>

</body>
</html>